@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

.dark .text-stroke {
  -webkit-text-stroke-color: #363636;
}
